<ion-toolbar mode="ios">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/graph']">
        <ion-icon name="pie-chart" [ngStyle]="{'color': page == 'graphs' ? '#3880ff' : 'black'}"></ion-icon>
        <ion-label>Graphs</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/home']">
        <ion-icon name="home" [ngStyle]="{'color': page == 'home' ? '#3880ff' : 'black'}"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
      <!-- <ion-tab-button [routerLink]="['/calculator']">
        <ion-icon name="calculator" [ngStyle]="{'color': page == 'calculator' ? '#3880ff' : 'black'}"></ion-icon>
        <ion-label>Calculator</ion-label>
      </ion-tab-button> -->
      <ion-tab-button [routerLink]="['/dashboard']">
        <ion-icon name="desktop" [ngStyle]="{'color': page == 'dashboard' ? '#3880ff' : 'black'}"></ion-icon>
        <ion-label>Dashboard</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>