<ion-footer>
  <ion-toolbar mode="ios">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/graph']">
          <ion-icon name="pie-chart" [ngStyle]="{'color': page == 'graphs' ? '#3880ff' : 'gray'}"></ion-icon>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/home']">
          <ion-icon name="home" [ngStyle]="{'color': page == 'home' ? '#3880ff' : 'gray'}"></ion-icon>
        </ion-tab-button>
        <ion-tab-button [routerLink]="['/dashboard']">
          <ion-icon name="desktop" [ngStyle]="{'color': page == 'dashboard' ? '#3880ff' : 'gray'}"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>