ion-toolbar {
    height: 100px;
}

ion-tabs {
    height: 75px;
}

ion-tab-bar {
    height: 100px;
}

ion-tab-button {
    height: 100px;
}

ion-icon {
    height: 32px;
    width: 32px;
}

ion-label {
    height: 12px;
}