ion-toolbar {
    height: 50px;
}

ion-icon {
    width: 32px;
    height: 32px;
}

ion-button {
    height: 32px;
}

ion-item {
    cursor: pointer;
}

ion-tabs {
    height: 50px;
}

ion-tabs-bar {
    height: 50px;
}