<app-header title="Graphs" [goBack]="false"></app-header>

<div class="chart-radio-div">
    <ion-col>
        <ion-list>
            <ion-radio-group value="bar-chart" mode="ios">
              <ion-item>
                <ion-label>Bar Chart</ion-label>
                <ion-radio slot="end" value="bar-chart" (click)="generateBarChart()"></ion-radio>
              </ion-item>
          
              <ion-item>
                <ion-label>Pie Chart</ion-label>
                <ion-radio slot="end" value="pie-chart" (click)="generatePieChart()"></ion-radio>
              </ion-item>
        
            </ion-radio-group>
        </ion-list>
    </ion-col>
    
</div>

<div class="pie-chart" style="width:100%;height:100%">
    <svg id="myPlot" style="width:100%;height:100%;"></svg>
</div>

<app-tabs page="graphs"></app-tabs>
