<app-header title="Fund Details" [goBack]="true">

</app-header>
<ion-content role="Fund Details" detail = "true">
    <div class = "ion-text-center" *ngIf = "data">
        <ion-label>
            <h1><u>{{data.Commodity}}</u></h1>
            <h2>Rec ID: {{data.recID}}</h2> 
        </ion-label>
    </div>
    <div *ngIf = "data">
        <ion-list style="margin:0px 30px">
            <div *ngIf="data.DPI; then show_dpi"></div>
            <ng-template #show_dpi><ion-item>
                <ion-label><h2>DPI</h2></ion-label>
                <ion-text>{{data.DPI}}</ion-text>
            </ion-item></ng-template>
            <div *ngIf="AOR; then show_aor; else blank_aor"></div>
            <ng-template #show_aor><ion-item>
                <ion-label><h2>AOR</h2></ion-label>
                <ion-text>{{data.AOR}}</ion-text>
            </ion-item>
            </ng-template>
            <ng-template #blank_aor>
                <ion-item>
                    <ion-label><h2>AOR</h2></ion-label>
                    <ion-text>NO AOR LISTED</ion-text>
                </ion-item>
            </ng-template>
            {{data.TransDate | date:'MM/dd/YYYY'}}
        </ion-list>
        <!-- <ion-grid class = "ion-margin">
            <ion-row>
                <ion-col>DPI</ion-col>
                <ion-col>{{data.DPI}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>AOR</ion-col>
                <ion-col>{{data.AOR}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Funded Program</ion-col>
                <ion-col>{{data.FundedProgram}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Cost Center</ion-col>
                <ion-col>{{data.CostCenter}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Obligations</ion-col>
                <ion-col>{{data.Obligations}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Commitments</ion-col>
                <ion-col>{{data.Commitments}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Disbursements</ion-col>
                <ion-col>{{data.Disbursements}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>SAG</ion-col>
                <ion-col>{{data.SAG}}</ion-col>
            </ion-row>
            <ion-row>
                <ion-col>Date</ion-col>
                <ion-col>{{data.TransDate}}</ion-col>
            </ion-row>
        </ion-grid> -->
    </div>
</ion-content>

<app-tabs></app-tabs>