<app-header title="List of Funds" [goBack]="false"></app-header>
<app-filter></app-filter>

<ion-content role="feed">
  <ion-list>
    <div *ngFor="let result of results">
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/', result)">
        <ion-label>
          <h2>{{result['Commodity']}}</h2>
          <p>{{result['AOR']}}</p>
        </ion-label>
        <p>${{result['Obligations']}}</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Loading more funds..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<app-tabs page="home"></app-tabs>
