<app-header title="List of Funds" [goBack]="false"></app-header>
<ion-content role="feed">
  <ion-list>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
      <ion-item detail="true" role="article" (click)="navigate('../fund-details/')">
        <ion-label>
          <h2>Fund name</h2>
          <p>Department</p>
        </ion-label>
        <p>$9000000</p>
        <ion-button (click)="toggleFlag($event)" fill="clear" color="dark">
          <ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon>
        </ion-button>
      </ion-item>
  </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Loading more funds..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<app-tabs page="home"></app-tabs>
