<app-header title="List of Funds" [goBack]="false"></app-header>
<app-filter></app-filter>

<ion-nav #navCtrl></ion-nav>

<ion-content role="feed">
  <ion-list>
    <div *ngIf="results">
      <ion-item *ngFor="let result of results" detail="true" role="article" (click)="navigate('../fund-details/', result)">
        <ion-label>
          <div *ngIf="result['Commodity']; then title; else no_title"></div>
            <ng-template #title><h2>{{result['Commodity']}}</h2></ng-template>
            <ng-template #no_title><h2>No Commodity Given</h2></ng-template>
          <div *ngIf="result['TransDate'] == '0000-00-00 00:00:00'; then no_date; else date"></div>
            <ng-template #date>
              <div *ngIf="result['AOR'].trim(); then aor; else no_aor"></div> 
                <ng-template #aor><p><ion-text color="primary"><strong>{{result['AOR']}}</strong></ion-text><ion-text style="margin: 0 0 0 5px">{{result['TransDate'] | date: 'MM/dd/YYYY'}}</ion-text></p></ng-template>
                <ng-template #no_aor><p>{{result['TransDate'] | date: 'MM/dd/YYYY'}}</p></ng-template>
              </ng-template>
            <ng-template #no_date><p><ion-text color='primary'><strong>{{result['AOR']}}</strong></ion-text></p></ng-template>
        </ion-label>
        <div *ngIf="result['Obligations'] < 0; then red; else positive"></div>
          <ng-template #red><ion-text color="danger">${{result['Obligations'] | number:'1.2-2'}}</ion-text></ng-template>
          <ng-template #positive>
            <div *ngIf="result['Obligations'] == 0; then black; else green"></div>
            <ng-template #black><ion-text color="dark">${{result['Obligations'] | number:'1.2-2'}}</ion-text></ng-template>
            <ng-template #green><ion-text color="success">${{result['Obligations'] | number:'1.2-2'}}</ion-text></ng-template>
          </ng-template>        
        <ion-button (click)="toggleFlag($event, result['recID'])" fill="clear" color="dark">
          <div *ngIf="isFlagged(result['recID']); then flagged; else unflagged"></div>
            <ng-template #unflagged><ion-icon style="height: 24px; width: 24px" name="flag-outline" slot="end"></ion-icon></ng-template>
            <ng-template #flagged><ion-icon style="height: 24px; width: 24px" name="flag" slot="end"></ion-icon></ng-template>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Loading more funds..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
<app-tabs page="home"></app-tabs>
