.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 20px 20px 0 20px;
    width: 100vw;
}

h1 {
    display: inline-block;
    font-size: 32px;
    align-self: center;
    justify-self: center;
}

span {
    display: flex;
    width: 32px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.flex-container ion-label {
    justify-content: center;
    text-align: center;
}

ion-icon {
    width: 32px;
    height: 32px;
}

ion-button {
    height: 32px;
}

ion-item {
    cursor: pointer;
}

