h1 {
    display: inline-block;
    font-size: 32px;
}

.row {
    justify-content: center;
    text-align: center;
    height: 40px;
}
ion-label {
    text-align: center;
}

ion-icon {
    width: 32px;
    height: 32px;
}

ion-button {
    height: 32px;
}